<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.phh.treble.overlay.Qin.k61v1_64_bsp"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
        android:requiredSystemPropertyValue="+*Qin/k61v1_64_bsp*"
        android:priority="802"
        android:isStatic="true" />
</manifest>